%p
  %img{:alt => "Paindiary logo", :height => "225", :src => "http://i.imgur.com/4pKOmSE.png", :style => "display: block; margin-left: auto; margin-right: auto;", :width => "225"}/
%h1{:style => "margin-top: 0px; color: #565656; font-weight: bold; font-size: 36px; margin-bottom: 18px; font-family: sans-serif; line-height: 42px; text-align: center;"}
  %span{:style => "color: #000000;"} Welcome to PainDiary!
%p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 16px; line-height: 25px; margin-bottom: 25px; text-align: center;"}
  %span{:style => "font-family: helvetica,arial,sans-serif; color: #808080;"} Thank you for creating a PainDiary account. You are all ready to go!
%p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 16px; line-height: 25px; margin-bottom: 25px; text-align: center;"}
  %span{:style => "font-family: helvetica,arial,sans-serif; color: #808080;"}
    To login to the site, just click on the logo or follow this link:
    %a{:href => "http://paindiary.herokuapp.com", :target => "_blank", :title => "PainDiary"} PainDiary
    %br/
%p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 16px; line-height: 25px; margin-bottom: 24px; text-align: center;"}
  %span{:style => "font-family: helvetica,arial,sans-serif; color: #808080;"} What makes PainDiary special?
%p{:style => "text-align: center;"}
%p{:style => "text-align: center;"}
%table{:style => "height: 62px; margin-left: auto; margin-right: auto;", :width => "600"}
  %tbody
    %tr
      %td{:style => "width: 33%; text-align: center;"}
        %img{:alt => "free", :height => "100", :src => "http://i.imgur.com/fVCFN83.png", :width => "100"}/
      %td{:style => "width: 33%; text-align: center;"}
        %img{:alt => "trustworthy", :height => "100", :src => "http://i.imgur.com/IuSMB4e.png", :width => "100"}/
      %td{:style => "width: 33%; text-align: center;"}
        %img{:alt => "always with you", :height => "100", :src => "http://i.imgur.com/1BqQHu7.png", :width => "100"}/
    %tr
      %td
        %h1{:style => "text-align: center;"} Free.
      %td
        %h1{:style => "text-align: center;"} Trustworthy.
      %td
        %h1{:style => "text-align: center;"} Always with you.
    %tr
      %td
        %p{:style => "text-align: center;"}
          %span{:style => "color: #808080;"}
            We will never charge you for any feature. There are no limits.
            %br/
      %td{:style => "text-align: center;"}
        %span{:style => "color: #808080;"}
          Guaranteed to be safe and private. No leaks allowed.
          %br/
      %td{:style => "text-align: center;"}
        %span{:style => "color: #808080;"} Far away from your computer?
        %br/
        %span{:style => "color: #808080;"}
          Use your phone to add an entry.
          %br/
%p{:style => "text-align: center;"}
%hr/
%p{:style => "text-align: center;"}
%table{:style => "height: 50px; margin-left: auto; margin-right: auto;", :width => "600"}
  %tbody
    %tr
      %td Szymon Włochowski @ PainDiary
      %td{:style => "text-align: right;"} Contact me at paindiarymails@gmail.com
    %tr
      %td http://paindiary.herokuapp.com
      %td{:style => "text-align: right;"} Thank you.
%p
