%p
  %img{:alt => "Paindiary logo", :height => "225", :src => "http://i.imgur.com/4pKOmSE.png", :style => "display: block; margin-left: auto; margin-right: auto;", :width => "225"}/
%h1{:style => "margin-top: 0px; color: #565656; font-weight: bold; font-size: 36px; margin-bottom: 18px; font-family: sans-serif; line-height: 42px; text-align: center;"} Welcome to PainDiary!
%p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 16px; line-height: 25px; margin-bottom: 25px; text-align: center;"}
  %span{:style => "font-family: helvetica,arial,sans-serif;"} Thank you for creating a PainDiary account. You are all ready to go!
%p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 16px; line-height: 25px; margin-bottom: 25px; text-align: center;"}
  %span{:style => "font-family: helvetica,arial,sans-serif;"} Your username is: email
%p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 16px; line-height: 25px; margin-bottom: 25px; text-align: center;"}
  %span{:style => "font-family: helvetica,arial,sans-serif;"} To login to the site, just click on the logo or follow this link: link
%p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 16px; line-height: 25px; margin-bottom: 24px; text-align: center;"}
  %span{:style => "font-family: helvetica,arial,sans-serif;"} What makes PainDiary special?
%table{:style => "height: 300px; margin-left: auto; margin-right: auto;", :width => "600"}
  %tbody
    %tr
      %td{:style => "width: 33%;"}
        \
        %img{:alt => "free", :height => "100", :src => "http://i.imgur.com/4pKOmSE.png", :style => "display: block; margin-left: auto; margin-right: auto;", :width => "100"}/
      %td{:style => "width: 33%;"}
        \
        %img{:alt => "trustworthy", :height => "100", :src => "http://i.imgur.com/4pKOmSE.png", :style => "display: block; margin-left: auto; margin-right: auto;", :width => "100"}/
      %td{:style => "width: 33%;"}
        \
        %img{:alt => "always with you", :height => "100", :src => "http://i.imgur.com/4pKOmSE.png", :style => "display: block; margin-left: auto; margin-right: auto;", :width => "100"}/
    %tr
      %td
        %h2{:style => "margin-top: 0px; color: #555555; font-style: italic; font-weight: normal; font-size: 16px; line-height: 22px; margin-bottom: 14px; font-family: Georgia,serif; text-align: center;"} Free.
        %p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 12px; line-height: 21px; margin-bottom: 21px; text-align: center;"} We will never charge you for anything. You are free to create as many entries in your diary as you wish.
      %td
        %h1{:style => "margin-top: -20%; color: #555555; font-style: italic; font-weight: normal; font-size: 16px; line-height: 22px; margin-bottom: 14px; font-family: Georgia,serif; text-align: center;"} Trustworthy.
        %p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 12px; line-height: 21px; margin-bottom: 21px; text-align: center;"} Covered by the secure and fancy shit.
      %td
        %h2{:style => "margin-top: -10%; color: #555555; font-style: italic; font-weight: normal; font-size: 16px; line-height: 22px; margin-bottom: 14px; font-family: Georgia,serif; text-align: center;"} Always with you.
        %p{:style => "margin-top: 0px; color: #565656; font-family: Georgia,serif; font-size: 12px; line-height: 21px; margin-bottom: 21px; text-align: center;"}
          Far from your computer?
          %br/
          Create an entry using your phone's browser.
%p{:style => "text-align: center;"}
%hr/
%p{:style => "text-align: center;"}
%table{:style => "height: 50px; margin-left: auto; margin-right: auto;", :width => "600"}
  %tbody
    %tr
      %td Szymon @ PainDiary
      %td{:style => "text-align: right;"} Contact me at paindiarymails@gmail.com
    %tr
      %td http://paindiary.herokuapp.com
      %td{:style => "text-align: right;"} Thank you.
