%p= link_to "New description of sth", new_description_path
.row
  - @descriptions.each do |d|
    %p
      = d.name
      = link_to '(edit)', edit_description_path(d)
      = link_to '(delete)', description_path(d), method: :delete
