%h1 Your pain descriptions
= link_to new_description_path, class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
  New description
%br
%br
%row
  - descriptions.each do |d|
    %p
      = d.name
      - if current_user.forem_admin? || d.user_id == current_user.id
        = link_to edit_description_path(d), class: 'descriptionedit' do
          %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
        = link_to description_path(d), class: 'descriptiondelete', method: :delete do
          %span.glyphicon.glyphicon-trash{"aria-hidden" => "true"}
