%h1 All users in my app

%ul
  - users.each do |u|
    %li
      = u.email
      = link_to user_path(u), class: 'btn btn-success btn-xs' do
        %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}
        show
      /%a.btn.btn-success.btn-xs{:href => user_path(u)}show
      - if current_user == u
        = link_to edit_user_registration_path, class: 'btn btn-info btn-xs' do
          %span.glyphicon.glyphicon-edit{"aria-hidden" => "true"}
          edit
