.container.about
  %br/
  %br/
  .row
    .col-md-4
      %span.glyphicon.glyphicon-piggy-bank{:style => "font-size:6em;"}
      %h2 Free
      %p We will never charge you for any feature. There are no limits.
    .col-md-4
      %span.glyphicon.glyphicon-thumbs-up{:style => "font-size:6em;"}
      %h2 Trustworthy
      %p Guaranteed to be safe and private. No leaks allowed.
    .col-md-4
      %span.glyphicon.glyphicon-phone{:style => "font-size:6em;"}
      %h2 Always with you
      %p Far away from your computer? Use your phone to add an entry.
  %br/
  %br/
  .row
    .col-md-4
      %span.glyphicon.glyphicon-cog{:style => "font-size:6em;"}
      %h2 Modern
      %p Powered by Ruby on Rails, an open source web application framework.
    .col-md-4
      %span.glyphicon.glyphicon-lock{:style => "font-size:6em;"}
      %h2 Secure
      %p Follows modern security guidelines.  Your entries are private to you.
    .col-md-4
      %span.glyphicon.glyphicon-flash{:style => "font-size:6em;"}
      %h2 Rapid
      %p No flashy images, no distractions. Clean and fast.
  %br/
  %br/
  .row
    .col-md-4
      %span.glyphicon.glyphicon-scale{:style => "font-size:6em;"}
      %h2 Powerful
      %p No limit on the amount of your entries.
    .col-md-4
      %span.glyphicon.glyphicon-wrench{:style => "font-size:6em;"}
      %h2 Scalable
      %p Built on the same engine as GitHub and Twitter.
    .col-md-4
      %span.glyphicon.glyphicon-education{:style => "font-size:6em;"}
      %h2 Open Source
      %p Publicly accessible source code. Investigate how it's built.
