.container.about
  .row
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Free
      %p We will never charge you for any feature. There are no limits.
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Trustworthy
      %p Guaranteed to be safe and private. No leaks allowed.
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Always with you
      %p Far away from your computer? Use your phone to add an entry.
  %br/
  %br/
  .row
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Modern
      %p Powered by Ruby on Rails, an open source web application framework.
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Secure
      %p Follows modern security guidelines.  Your entries are private to you.
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Rapid
      %p No flashy images, no distractions. Clean and fast.
  %br/
  %br/
  .row
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Powerful
      %p No limit on the amount of your entries.
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Scalable
      %p Built on the same engine as GitHub or Twitter.
    .col-md-4
      %img.img-circle{:alt => "Generic placeholder image", :height => "100", :src => "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==", :width => "100"}/
      %h2 Open Source
      %p Publicly accessible source code. Investigate how it's built.
