%container
  %h3 How do I edit my posts?
  %p Click on the blue edit button next to the title or click on a post and then on 'Edit'.
  %br/

  %h3 Can everyone see my posts?
  %p No, your posts are completely private and the only way anyone could see them is if they had your password. Which they don't, because you used a strong one, right?
  %br/

  %h3 How can I delete my posts?
  %p Click on the red trash button next to the title.
  %br/

  %h3 Can I export my posts?
  %p Click on 'Download CSV' above the chart on the home page.
  %br/

  %h3 Do I need to give my personal details?
  %p No, the only thing we need from you is your email and password.
  %br/

  %h3 Can I change the colour theme?
  %p Sure, click on the settings button in the top right corner and change your theme to light/dark.
  %br/

  %h3 How do I delete my account?
  %p Are you sure? We will miss you. Think about it. Still sure? Alright, go to settings (top right corner) and 'edit profile' and then scroll all the way down and click on that big red button. We already miss you.
  %br/
  %br/
