%container
  %h1 Help...
  %h3 I want to register.
  %p
    Couldn't be easier!
    = link_to 'Click here (opens in a new window)', '/users/sign_up', target:'_blank'
    or go on the home page and click 'Sign up'. Welcome!
  %br/

  %h3 I want to add a post.
  %p No problem either! After signing up or logging in, click on 'New post' and fill in the form!
  %br/

  %h3 Descriptions? What is that?
  %p Adjectives that help describe your pain. Feel free to add your own ones in 'Descriptions' page. We have added three descriptions for you, just to give you an idea.
  %br/

  %h3 What is that Pivot Charts about? What is CSV?
  %p
    CSV stands for Comma Separated Value and the file you download can be opened with Notepad or Excel, have a look. It only contains vital information about your entries and can be later uploaded at the Pivot Charts page, which is better explained in here:
    = link_to 'Pivot Charts UI Tutorial (opens in a new window)', 'https://github.com/nicolaskruchten/pivottable/wiki/UI-Tutorial', target:'_blank'
  %br/

  %h3 I want to change my details.
  %p No problem, go to settings (top right corner) and 'edit profile'. Remember to confirm your password.
  %br/

  %h3 I want to delete my account.
  %p
    Are you sure? We will miss you.
    %br/
    Think about it.
    %br/
    Still sure?
    %br/
    Alright, go to settings (top right corner) and 'edit profile' and then scroll all the way down and click on that big red button.
    %br/
    We already miss you.
  %br/

  %h3 How can I contact you?
  %p
    The easiest way? Send me an email at
    %a{:href => "mailto:paindiarymails@gmail.com"} paindiarymails@gmail.com

  %br/
  %br/


