%h1 Hello.

=link_to new_post_path, class: 'btn btn-primary btn-lg' do
  %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
  New post
=link_to destroy_user_session_path, class: 'btn btn-danger btn-lg' do
  %span.glyphicon.glyphicon-log-out{"aria-hidden" => "true"}
  Log out

%br
%br

%h2 Known bugs:
%p Theme can be only switched from the home page on the first visit after refresh.
