%h1 Hello.

= link_to new_post_path, class: 'btn btn-primary btn-lg' do
  %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
  New post
= link_to destroy_user_session_path, class: 'btn btn-danger btn-lg' do
  %span.glyphicon.glyphicon-log-out{"aria-hidden" => "true"}
  Log out

%br
%br

%h2 Known bugs:
%p none
%p

%h2 Pending features:
%p better charts
%p doctor's report (charts + styled csv)
%p guest account - guest@mail.com
%p done - sending mail confirmations from paindiarymails@gmail.com
%p podpiac pod paindiaryme
