%h1 Hello.

%p= link_to "New post.", new_post_path
%p= link_to "New description of sth", new_description_path
%p= link_to "List of posts.", posts_path
%p= link_to "Log me out.", destroy_user_session_path
