%h1 Hello.

= link_to new_post_path, class: 'btn btn-primary btn-lg' do
  %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
  New post
= link_to destroy_user_session_path, class: 'btn btn-danger btn-lg' do
  %span.glyphicon.glyphicon-log-out{"aria-hidden" => "true"}
  Log out

%br
%br

%h2 Known bugs:
%p none
%p

%h2 Pending features:
%p charts - csv + excel
%p help/faq section
%p better intro page
%p welcome mail - split email
%p ??? - doctor's report (charts + styled csv)
%p to be done at the end - guest account - guest@mail.com
%p done but needs to be prettier - sending mail confirmations from paindiarymails@gmail.com
%p ??? - podpiac pod paindiaryme
