%h1 Error 404 - content not found.
%p
  What are you doing? Trying to break our app?
%p
  Please
  %a{href: root_path} go back to our home page
  and behave.
%p
  If the problem persists, drop us an email at
  %a{:href => "mailto:paindiarymails@gmail.com"} paindiarymails@gmail.com
  and demand to speak to the manager.
