%h1 Error 404 - content not found.
%p
  Please
  %a{href: root_path} go back to our home page
  and try again.
%p
  If the problem persists, could you please drop us an email at
  %a{:href => "mailto:paindiarymails@gmail.com"} paindiarymails@gmail.com
  and demand to speak to the manager?
