%h1 Error 500 - internal server error.
%p
  Something went wrong. We will fix it, promise.
%p
  Meanwhile, why not
  %a{href: root_path} go back to our home page
  and do something that works?
%p
  If the problem persists, drop us an email at
  %a{:href => "mailto:paindiarymails@gmail.com"} paindiarymails@gmail.com
  and demand to speak to the manager.
