%h1 Error 422 - unprocessable entity.
%p
  It's a security feature built in to prevent Cross-Site Request Forgery.
%p
  You feel like hacking? No chance with this app, my friend. We're safe.
%p
  In fact, it's so safe, that if you manage to hack it, we promise to pay you 30,000 Vietnamese Dongs.
%p
  If you succeed, change the content of this page to your BTC wallet and we'll send you the dongs.
