/*
 *= require_self
 *= require flatly/loader
 *= require flatly/bootswatch
 *= require posts
 *= require jquery-ui/datepicker
 *= require pivot
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';
 @import 'forem/base';


 body { padding-top: 70px; }
 .about .col-md-4 {
  text-align: center;
}
.modal-dialog {
  z-index: 1100;
}
.post {
  a.postlink{
    color: #C0392B;
    margin-left: 0.2em;
    font-size: 0.6em;
  }
  a.edit{
    color: #1200F1;
    margin-left: 0.5em;
    font-size: 0.6em;
  }
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
span.help-block {
  color: #000;
}
a.descriptiondelete {
  margin-left: 0.2em;
  color: #C0392B;
}
a.descriptionedit {
  margin-left: 1em;
  color: #1200F1;
}
