/*
 *= require_self
 *= require flatly/loader
 *= require posts
 *= require jquery-ui/datepicker
 *= require pivot
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import 'forem/base';


body { padding-top: 70px; }
.about .col-md-4 {
  text-align: center;
}
.modal-dialog {
  z-index: 1100;
}
.post {
  a.postlink {
    span {
      font-size: 16px;
      color: #C0392B;
    }
  }
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
