/*
 *= require application
 *= require_self
 *= require darkly/loader
 *= require darkly/bootswatch
 *= require devise_bootstrap_views
 *= require rails_bootstrap_forms
 */

body { padding-top: 70px; background: #000 }
.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
}
