- if current_user.present?
  %li
    = link_to "Light theme", update_layout_user_path(current_user, layout: 'custom'), method: :put
  %li
    = link_to "Dark theme", update_layout_user_path(current_user, layout: 'darkly'), method: :put
- if current_user.forem_admin?
  %li.divider
    %li
      = link_to "Forem admin", forem.admin_root_url
      = link_to "PainDiary Admin", '/admin'
