- if current_user.present?
  %li
    = link_to "Flatly", update_layout_user_path(current_user, layout: 'custom'), method: :put
  %li
    = link_to "Darkly", update_layout_user_path(current_user, layout: 'darkly'), method: :put
